/* -----------------------------------------------------------
	font-face
----------------------------------------------------------- */
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Light.ttf");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Medium.ttf");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Bold.ttf");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
.home-page-wrapper {
  padding: 24px 0px;
  background-color: #f5f5f5;
}
.home-page-wrapper .match-schedule-wrapper {
  width: 100%;
  height: auto;
  padding: 16px 0px 0px 0px;
  border-radius: 8px;
  background-color: #fff;
}
@media only screen and (max-width: 991px) {
  .home-page-wrapper .match-schedule-wrapper {
    display: none;
  }
}
.home-page-wrapper .match-schedule-wrapper .schedule-title {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  /* identical to box height */
  text-align: center;
  /* Gray:900 */
  color: #1a202c;
  margin-bottom: 8px;
}
.home-page-wrapper .match-schedule-wrapper .list-schedule {
  width: 100%;
  display: flex;
  align-items: center;
}
.home-page-wrapper .match-schedule-wrapper .list-schedule .schedule-icon-wrapper {
  min-width: 162px;
  height: auto;
  padding: 11px 0px 16px;
  display: flex;
  justify-content: center;
}
.home-page-wrapper .match-schedule-wrapper .list-schedule .schedule-icon-wrapper .box-icon {
  min-width: 60px;
  max-width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgba(209, 62, 52, 0.1);
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-page-wrapper .match-schedule-wrapper .list-schedule .schedule-item {
  margin-right: 8px;
  height: 100px;
  position: relative;
  min-width: 162px;
  max-width: 162px;
  height: auto;
  padding: 11px 0px 3px;
  border-bottom: 3px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.home-page-wrapper .match-schedule-wrapper .list-schedule .schedule-item .day {
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 48px;
  /* identical to box height */
  text-align: center;
  /* Gray:600 */
  color: #718096;
}
.home-page-wrapper .match-schedule-wrapper .list-schedule .schedule-item .label {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  color: #718096;
}
.home-page-wrapper .match-schedule-wrapper .list-schedule .schedule-item:hover {
  background: linear-gradient(180deg, rgba(209, 62, 52, 0) 0%, rgba(209, 62, 52, 0.1) 100%);
  border-bottom: 3px solid #e53e3e;
}
.home-page-wrapper .match-schedule-wrapper .list-schedule .active {
  background: linear-gradient(180deg, rgba(209, 62, 52, 0) 0%, rgba(209, 62, 52, 0.1) 100%);
  border-bottom: 3px solid #e53e3e;
}

.common-main-layout {
  width: 100%;
  display: flex;
  padding-top: 24px;
}
@media only screen and (max-width: 991px) {
  .common-main-layout {
    padding-top: 20px;
  }
}

.common-left-layout {
  min-width: 220px;
  max-width: 220px;
  height: max-content;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px 12px;
}
@media only screen and (max-width: 991px) {
  .common-left-layout {
    display: none;
  }
}
.common-left-layout .title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  /* Gray:900 */
  color: #1a202c;
  margin-bottom: 12px;
}
.common-left-layout .league-item {
  margin-bottom: 0 !important;
}

.box-common {
  width: 100%;
  height: auto;
  background: #ffffff;
  border-radius: 4px;
}

.box-list-league .league-item {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 8px;
}
.box-list-league .league-item:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}
.box-list-league .league-item .league-image {
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  object-fit: cover;
  margin-right: 12px;
}
.box-list-league .league-item .league-name {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #1a202c;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  max-width: 200px;
}
@media only screen and (max-width: 991px) {
  .box-list-league .league-item .league-name {
    max-width: 150px;
  }
}

.common-right-layout {
  flex-grow: 1;
  height: auto;
  padding: 0px 0px 84px 24px;
}
@media only screen and (max-width: 991px) {
  .common-right-layout {
    padding: 0;
  }
}

.common-title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}

.txt-success {
  color: #007649;
}

.txt-warning {
  color: #ff7501;
}

.common-table-wrapper {
  width: 100%;
  margin-bottom: 24px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  padding: 16px;
}
@media only screen and (max-width: 991px) {
  .common-table-wrapper {
    padding: 8px;
  }
}
.common-table-wrapper .title-block {
  display: flex;
  align-items: center;
  margin-bottom: 12px;
}
@media only screen and (max-width: 991px) {
  .common-table-wrapper .title-block {
    margin-bottom: 8px;
  }
}
.common-table-wrapper .title-block .icon-wrapper {
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  margin-right: 8px;
}
.common-table-wrapper .title-block .icon-wrapper img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.common-table-wrapper .title-block .dash {
  flex-grow: 1;
  height: 1px;
  width: 100%;
  background-color: #ccc;
  border: none;
  margin-left: 16px;
}
@media only screen and (max-width: 991px) {
  .common-table-wrapper .title-block .dash {
    display: none;
  }
}
.common-table-wrapper .title-block .live-icon {
  min-width: 24px;
  max-width: 24px;
  height: 24px;
  margin-right: 8px;
}
.common-table-wrapper .title-block .live-icon img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.common-table-wrapper .live-status-wrapper {
  min-width: max-content;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.common-table-league {
  width: 100%;
}
.common-table-league .common-table-row {
  width: 100%;
  background: #ffffff;
  padding: 8px 0px;
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: #1a202c;
  line-height: 21px;
  border-top: 1px solid #edf2f7;
}
.common-table-league .common-table-row:last-of-type {
  margin-bottom: 0;
}
@media only screen and (max-width: 991px) {
  .common-table-league .common-table-row {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
  }
}
@media only screen and (max-width: 991px) {
  .common-table-league .common-table-row {
    flex-direction: column;
    padding: 8px 0px;
  }
}
.common-table-league .txt-green {
  color: #009a5f;
  min-width: max-content;
}
.common-table-league .btn-watch {
  font-family: "Poppins";
  min-width: max-content;
  padding: 7px 8px;
  border: 1px solid #2d5bff;
  border-radius: 8px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  background-color: #fff;
  color: #2d5bff;
  cursor: pointer;
}
@media only screen and (max-width: 991px) {
  .common-table-league .btn-watch {
    display: none;
  }
}
.common-table-league .left-row {
  width: 30%;
  display: flex;
  align-items: center;
  margin-right: 8px;
}
@media only screen and (max-width: 991px) {
  .common-table-league .left-row {
    width: 100%;
    margin-right: 0;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
  }
}
.common-table-league .math-info-wrapper {
  width: 40%;
  display: flex;
  align-items: center;
  min-width: max-content;
  margin-right: 8px;
}
@media only screen and (max-width: 991px) {
  .common-table-league .math-info-wrapper {
    width: 50%;
    margin-right: 0;
  }
}
.common-table-league .math-info-wrapper .status-btn-wrapper {
  padding: 2px 8px;
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 18px;
  /* identical to box height */
  background: #007649;
  border-radius: 4px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #ffffff;
}
.common-table-league .math-info-wrapper .status-btn-wrapper .livenow {
  margin-right: 6px;
}
.common-table-league .match-half {
  margin: 0px 16px;
}
.common-table-league .league-name-wrapper {
  width: 60%;
  max-width: 60%;
  display: flex;
  justify-content: flex-start;
}
@media only screen and (max-width: 991px) {
  .common-table-league .league-name-wrapper {
    max-width: 100%;
    width: 100%;
    justify-content: flex-end;
  }
}
.common-table-league .league-name-wrapper .league-name {
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
@media only screen and (max-width: 991px) {
  .common-table-league .league-name-wrapper .league-name {
    max-width: 45vw;
    margin: 0;
    padding: 0;
  }
}
.common-table-league .right-row {
  width: 70%;
  display: flex;
  align-items: center;
}
@media only screen and (max-width: 991px) {
  .common-table-league .right-row {
    width: 100%;
  }
}
.common-table-league .list-club-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 8px;
}
@media only screen and (max-width: 991px) {
  .common-table-league .list-club-wrapper {
    margin: 0;
  }
}
.common-table-league .list-club-wrapper .club-item {
  width: 50%;
  display: flex;
  align-items: center;
}
.common-table-league .list-club-wrapper .club-item .club-image {
  min-width: 28px;
  max-width: 28px;
  height: 28px;
  object-fit: cover;
}
.common-table-league .list-club-wrapper .club-item .club-name-wrapper .club-name {
  max-width: 240px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
}
@media only screen and (max-width: 991px) {
  .common-table-league .list-club-wrapper .club-item .club-name-wrapper .club-name {
    max-width: 110px;
  }
}
.common-table-league .list-club-wrapper .first-club {
  justify-content: flex-end;
}
.common-table-league .list-club-wrapper .first-club .club-image {
  margin-left: 12px;
}
@media only screen and (max-width: 991px) {
  .common-table-league .list-club-wrapper .first-club .club-image {
    margin-left: 4px;
  }
}
.common-table-league .list-club-wrapper .first-club .club-name {
  text-align: right;
}
.common-table-league .list-club-wrapper .last-club .club-image {
  margin-right: 12px;
}
@media only screen and (max-width: 991px) {
  .common-table-league .list-club-wrapper .last-club .club-image {
    margin-right: 4px;
  }
}
.common-table-league .list-club-wrapper .last-club .club-name {
  text-align: left;
}
.common-table-league .list-club-wrapper .score-wrapper {
  text-align: center;
  min-width: max-content;
  padding: 0px 36px;
}
@media only screen and (max-width: 991px) {
  .common-table-league .list-club-wrapper .score-wrapper {
    padding: 0px 16px;
  }
}

.livenow > div {
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 3px solid #fff;
  -webkit-animation: live 1.4s infinite ease-in-out;
  animation: live 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.livenow > div:nth-child(1) {
  background-color: #fff;
  background-color: #fff;
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}

@-webkit-keyframes live {
  0%, 80%, 100% {
    -webkit-transform: scale(0.6);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes live {
  0%, 80%, 100% {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.hot-match-table {
  border: 1px solid #ff7501;
}
@media only screen and (max-width: 991px) {
  .hot-match-table {
    border: none;
  }
}

.main-tab {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border-bottom: 2px solid #E2E8F0;
}
.main-tab .main-tab-item {
  display: flex;
  align-items: center;
  padding: 8px 0px;
  position: relative;
  min-width: max-content;
  border-bottom: 2px solid #e2e8f0;
  position: relative;
  top: 2px;
}
.main-tab .main-tab-item:last-of-type {
  padding: 8px 32px;
}
.main-tab .main-tab-item a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.main-tab .main-tab-item .label {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  /* Gray:900 */
  color: #1a202c;
}
.main-tab .ui-tabs-active {
  border-bottom: 2px solid #d13e34;
}
.main-tab .ui-tabs-active a .label {
  color: #d13e34;
}

.list-match-table {
  width: 100%;
}
.list-match-table .match-table-item {
  border: none;
  border-radius: 0px 0px 8px 8px;
  margin-bottom: 24px;
}
.list-match-table .match-table-header {
  padding: 10px 16px;
  background: #e2e8f0;
  border-radius: 8px 8px 0px 0px;
}
.list-match-table .match-table-header .title {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height */
  /* Gray:900 */
  color: #1a202c;
}
@media only screen and (max-width: 991px) {
  .list-match-table .match-table-header .title {
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 22px;
    /* identical to box height */
    color: #111111;
  }
}
.list-match-table .match-table-content {
  padding: 0px 16px;
  background-color: #fff;
  border-radius: 0px 0px 8px 8px;
}

/*# sourceMappingURL=main.css.map */
