@charset "utf-8";
@import "variables";
@import "mixins";
@import "fonts";

.home-page-wrapper {
  padding: 24px 0px;
  background-color: #f5f5f5;

  .match-schedule-wrapper {
    width: 100%;
    height: auto;
    padding: 16px 0px 0px 0px;
    border-radius: 8px;
    background-color: #fff;

    @include mq(max_md) {
      display: none;
    }

    .schedule-title {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 27px;
      /* identical to box height */

      text-align: center;

      /* Gray:900 */

      color: #1a202c;
      margin-bottom: 8px;
    }

    .list-schedule {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0px 80px;

      .schedule-item {
        margin-right: 8px;
        height: 100px;
        position: relative;
        min-width: calc(100% / 7);
        max-width: calc(100% / 7);
        height: auto;
        padding: 11px 0px 3px;
        border-bottom: 3px solid #fff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        .day {
          font-style: normal;
          font-weight: 500;
          font-size: 32px;
          line-height: 48px;
          /* identical to box height */

          text-align: center;

          /* Gray:600 */

          color: #718096;
        }

        .label {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 21px;
          text-align: center;
          color: #718096;
        }
        &:hover {
          background: linear-gradient(
            180deg,
            rgba(209, 62, 52, 0) 0%,
            rgba(209, 62, 52, 0.1) 100%
          );
          border-bottom: 3px solid #e53e3e;
        }
      }

      .active {
        background: linear-gradient(
          180deg,
          rgba(209, 62, 52, 0) 0%,
          rgba(209, 62, 52, 0.1) 100%
        );
        border-bottom: 3px solid #e53e3e;

        .label,.day {
          color: #e53e3e;
        }
      }
    }
  }
}

// ========STYLE TAB  ========

// ========STYLE TAB  ========

.common-main-layout {
  width: 100%;
  display: flex;
  padding-top: 24px;

  @include mq(max_md) {
    padding-top: 20px;
  }
}

.common-left-layout {
  min-width: 220px;
  max-width: 220px;
  height: max-content;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px 12px;

  @include mq(max_md) {
    display: none;
  }

  .title {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height */

    /* Gray:900 */

    color: #1a202c;
    margin-bottom: 12px;
  }
  .league-item {
    margin-bottom: 0 !important;
  }
}

.box-common {
  width: 100%;
  height: auto;
  background: #ffffff;
  border-radius: 4px;
}

.box-list-league {
  .league-item {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 8px;

    &:hover {
      background-color: #f5f5f5;
      cursor: pointer;
    }

    .league-image {
      min-width: 24px;
      max-width: 24px;
      height: 24px;
      object-fit: cover;
      margin-right: 12px;
    }

    .league-name {
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 21px;
      color: #1a202c;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;
      max-width: 200px;

      @include mq(max_md) {
        max-width: 150px;
      }
    }
  }
}
.common-right-layout {
  flex-grow: 1;
  height: auto;
  padding: 0px 0px 84px 24px;

  @include mq(max_md) {
    padding: 0;
  }
}

.common-title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
}
.txt-live-title {
  color: #007649;
}

.txt-warning {
  color: #ff7501;
}
.common-table-wrapper {
  width: 100%;
  margin-bottom: 24px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  padding: 16px;
  

  @include mq(max_md) {
    padding: 8px;
  }

  .title-block {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    @include mq(max_md) {
      margin-bottom: 8px;
    }

    .icon-wrapper {
      min-width: 24px;
      max-width: 24px;
      height: 24px;
      margin-right: 8px;
      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .dash {
      flex-grow: 1;
      height: 1px;
      width: 100%;
      background-color: #ccc;
      border: none;
      margin-left: 16px;

      @include mq(max_md) {
        display: none;
      }
    }

    .live-icon {
      min-width: 24px;
      max-width: 24px;
      height: 24px;
      margin-right: 8px;

      img {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .live-status-wrapper {
    min-width: max-content;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.common-table-league {
  width: 100%;
  .common-table-row {
    width: 100%;
    background: #ffffff;
    padding: 8px 0px;
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    color: #1a202c;
    line-height: 21px;
    border-top: 1px solid #edf2f7;

    &:last-of-type {
      margin-bottom: 0;
    }
    @include mq(max_md) {
      font-style: normal;
      font-weight: 400;
      font-size: 13px;
      line-height: 20px;
    }

    @include mq(max_md) {
      flex-direction: column;
      padding: 8px 0px;
    }
  }

  .txt-green {
    color: #009a5f;
    min-width: max-content;
  }

  .btn-watch {
    font-family: "Poppins";
    min-width: max-content;
    padding: 7px 8px;
    border: 1px solid #2d5bff;
    border-radius: 8px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    background-color: #fff;

    color: #2d5bff;
    cursor: pointer;

    @include mq(max_md) {
      display: none;
    }
  }

  .left-row {
    width: 30%;
    display: flex;
    align-items: center;
    margin-right: 8px;

    @include mq(max_md) {
      width: 100%;
      margin-right: 0;
      display: flex;
      align-items: center;
      margin-bottom: 12px;
    }
  }

  .math-info-wrapper {
    width: 40%;
    display: flex;
    align-items: center;
    min-width: max-content;
    margin-right: 8px;
    @include mq(max_md) {
      width: 50%;
      margin-right: 0;
    }

    .status-btn-wrapper {
      padding: 2px 8px;
      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 18px;
      /* identical to box height */
      background: #007649;
      border-radius: 4px;
      display: flex;
      align-items: center;

      text-transform: uppercase;

      color: #ffffff;
      .livenow {
        margin-right: 6px;
      }
    }
  }

  .match-half {
    margin: 0px 16px;
  }

  .league-name-wrapper {
    width: 60%;
    max-width: 60%;
    display: flex;
    justify-content: flex-start;

    @include mq(max_md) {
      max-width: 100%;
      width: 100%;
      justify-content: flex-end;
    }

    .league-name {
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: inline-block;

      @include mq(max_md) {
        max-width: 45vw;
        margin: 0;
        padding: 0;
      }
    }
  }

  .right-row {
    width: 70%;
    display: flex;
    align-items: center;

    @include mq(max_md) {
      width: 100%;
    }
  }

  .list-club-wrapper {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 8px;

    @include mq(max_md) {
      margin: 0;
    }

    .club-item {
      width: 50%;
      display: flex;
      align-items: center;

      .club-image {
        min-width: 28px;
        max-width: 28px;
        height: 28px;
        object-fit: cover;
      }

      .club-name-wrapper {
        .club-name {
          max-width: 200px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          display: inline-block;

          @include mq(max_md) {
            max-width: 110px;
          }
        }
      }
    }

    .first-club {
      justify-content: flex-end;

      .club-image {
        margin-left: 12px;
        @include mq(max_md) {
          margin-left: 4px;
        }
      }

      .club-name {
        text-align: right;
      }
    }

    .last-club {
      .club-image {
        margin-right: 12px;
        @include mq(max_md) {
          margin-right: 4px;
        }
      }
      .club-name {
        text-align: left;
      }
    }

    .score-wrapper {
      text-align: center;
      min-width: max-content;
      padding: 0px 36px;
      @include mq(max_md) {
        padding: 0px 16px;
      }
    }
  }
}
.livenow > div {
  vertical-align: middle;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  border: 3px solid #fff;
  -webkit-animation: live 1.4s infinite ease-in-out;
  animation: live 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  &:nth-child(1) {
    background-color: #fff;
    background-color: #fff;
    -webkit-animation-delay: -0.1s;
    animation-delay: -0.1s;
  }
}

@-webkit-keyframes live {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0.6);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes live {
  0%,
  80%,
  100% {
    transform: scale(0.6);
    -webkit-transform: scale(0.6);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

.hot-match-table {
  border: 1px solid #ff7501;

  @include mq(max_md) {
    border: none;
  }
}

// ========STYLE TAB  ========
.main-tab {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  border-bottom: 2px solid #E2E8F0;
  position: relative;

  .main-tab-item {
    display: flex;
    align-items: center;
    padding: 8px 0px;
    position: relative;
    min-width: max-content;
    border-bottom: 2px solid #e2e8f0;
    position: relative;
    top: 2px;

    &:last-of-type {
      padding: 8px 32px;
    }

    a {
      display: block;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      text-decoration: none;
    }

    .label {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height */

      /* Gray:900 */

      color: #1a202c;
    }
  }

  .ui-tabs-active {
    border-bottom: 2px solid #d13e34;
    a {
      .label {
        color: #d13e34;
      }
    }
  }
}
// ========STYLE TAB  ========

.list-match-table {
  width: 100%;

  .match-table-item {
    border: none;
    border-radius: 0px 0px 8px 8px;
    margin-bottom: 24px;
  }

  .match-table-header {
    padding: 10px 16px;
    background: #e2e8f0;
    border-radius: 8px 8px 0px 0px;

    .title {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      /* identical to box height */

      /* Gray:900 */

      color: #1a202c;

      @include mq(max_md) {
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 22px;
        /* identical to box height */

        color: #111111;
      }
    }
  }

  .match-table-content {
    padding: 0px 16px;
    background-color: #fff;
    border-radius: 0px 0px 8px 8px;
  }
}


.date-time-picker-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;

  .el-date-editor {
    font-family: 'Poppins' !important;
    max-width: 150px !important;
    height: 40px;

  }
}